@use "../utils/placeholders";
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

$reports-status: (
  "success": "up",
  "warning": "dash",
  "danger": "down",
);

.reports {
  @extend %section-frame;

  grid-area: reports;

  min-width: 340px;
  // max-height: 420px;
  background-color: fn.get-color("dark-tertiary");
}

.reports__title {
  @extend %main-details;

  margin-bottom: 28px;

  .reports__title_accent {
    @extend %accent-text;

    color: fn.get-color("light");
  }
}

.reports__list {
  @include mx.scroll-bar;

  max-height: 320px;
  overflow-y: auto;

  @include mx.mq("md") {
    margin-right: -14px;
  }
}

.reports__item {
  display: flex;
  align-items: center;
  gap: 30px;

  @include mx.mq("md") {
    gap: 32px;
  }

  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.reports__staff {
  flex-grow: 1;
  flex-shrink: 0;
}

.staff {
  display: flex;
  align-items: center;
  gap: 16px;
}

.staff__thumb {
  @include mx.frame(32px, $is-circle: true);
}

.staff__caption {
  @extend %main-details;
}

.reports__bar {
  width: calc(100% - 224px);
  height: 4px;

  &[value] {
    border-radius: 2px;
  }

  @each $key, $value in $reports-status {
    [data-status="#{$value}"] & {
      // Mozilla browser
      &[value] {
        background-color: rgba(fn.get-color($key), 0.3);
      }

      &::-mor-progress-bar {
        background-color: rgba(fn.get-color($key), 1);
      }

      // Chrome, Safari, Opera browser
      &::-webkit-progress-bar {
        background-color: rgba(fn.get-color($key), 0.3);
        border-radius: 2px;
      }

      &::-webkit-progress-value {
        background-color: rgba(fn.get-color($key), 1);
        border-radius: 2px;
      }
    }
  }
}

.reports__icon {
  flex-shrink: 0;

  width: 20px;
  height: 20px;
  padding: 4px;

  border-radius: 4px;

  use {
    opacity: 0;
    fill: fn.get-color("light");
  }

  @each $key, $value in $reports-status {
    [data-status="#{$value}"] & {
      background-color: fn.get-color($key);

      .#{$value} {
        opacity: 1;
      }
    }
  }
}
