@use "../utils/mixins" as mx;
@use "../utils/functions" as fn;

.header {
  display: flex;
  align-items: center;
  gap: 24px;

  padding: 16px;

  @include mx.mq("lg") {
    grid-area: header;
    justify-content: space-between;
    background-color: fn.get-color("dark-secondary");
    box-shadow: 0px 1px 0px 0px #292932 inset;
    padding: 24px 36px;
  }
}
